.payment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  /* .payment p{
    font-size: 26px;
    font-weight: 600;
    color: brown;
  }
  
  .payment img {
    max-width: 25%;
    height: auto;
    margin-top: 30%;
  }
   */

   .payment p {
    font-size: 26px;
    font-weight: 600;
    color: brown;
    margin-top: 20%; 
    /* margin-right: 18%; */
  }
  
  .payment img {
    max-width: 25%;
    height: auto;
    margin-bottom: -2%;
  }